.OverlyRegister{
    background-color: rgba(100, 115, 140, 0.9);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: initial !important;
    z-index: 99999;
}
.OverlyRegister>div{
    width: 400px !important;
    height: 400px !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 15px !important;
}